<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xml">
    <preference for="Magento\Catalog\Block\Product\View" type="Mageplaza\HelloWorld\Block\Catalog\Product\View"></preference>
    <!-- you are allowed to rewrite getProduct() function of class Magento\Catalog\Block\Product\View -->

    <preference for="Magento\Catalog\Model\Product" type="Mageplaza\HelloWorld\Model\Catalog\Product" />
    <!--  you are allowed to rewrite getName() function of class Magento\Catalog\Model\Product, -->

    <preference for="Magento\Catalog\Controller\Product\View" type="Mageplaza\HelloWorld\Controller\Catalog\Product\View" />
    <!--  you are allowed to rewrite execute() function of class Magento\Catalog\Controller\Product\View -->
</config>